<div class="container bg-white">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card p-2" style="width: 10rem;">
        <img class="card-img-top img-fluid" src="../../../assets/images/1.png" />
        <div class="card-body">
          <h5 class="card-title mt-2">Apple</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card p-2" style="width: 10rem;">
        <img class="card-img-top img-fluid" src="../../../assets/images/3.png" />
        <div class="card-body">
          <h5 class="card-title mt-2">Samsung</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card p-2" style="width: 10rem;">
        <img class="card-img-top img-fluid" src="../../../assets/images/2.png" />
        <div class="card-body">
          <h5 class="card-title mt-2">LG</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card p-2" style="width: 10rem;">
        <img class="card-img-top img-fluid" src="../../../assets/images/4.png" />
        <div class="card-body">
          <h5 class="card-title mt-2">Google</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-4">
    <h3>Rings</h3>
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../../../assets/images/rings.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little
          bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Neckless</h3>
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../../../assets/images/neck.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little
          bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Bracelet</h3>
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../../../assets/images/bracelet.jpeg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little
          bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-dark btn-lg btn-block" [routerLink]="['/products']">Shop</button>
        </div>
      </div>
    </div>
  </div>
</div> -->